@{
    ViewBag.Title = "Home Page";
}
<h1>Hello</h1>

@section scripts
    {
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/signalr/js"></script>
    <script src="~/Scripts/SignalR.js"></script>

}
